 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Si</title>
  </head>
  <body>
    <div class="container-fluid text-center">
 
      <div class="container" style="width: 50%;">
        <h1>Ofertas</h1>
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div 
              *ngFor="let producto of productos; let isFirst = first" 
              [class]="isFirst ? 'carousel-item active' : 'carousel-item'"
            >
              <img [src]="producto.imagen" class="d-block w-100" [alt]="producto.nombre">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ producto.nombre }}</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>        
      </div> 
<hr>

      <div class="container" style="width: 50%;">
        <h1>Galería de Productos</h1>
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div 
              *ngFor="let producto of productos; let isFirst = first" 
              [class]="isFirst ? 'carousel-item active' : 'carousel-item'"
            >
              <img [src]="producto.imagen" class="d-block w-100" [alt]="producto.nombre">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ producto.nombre }}</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>        
      </div>   
    </div>
    <footer class="footer-section">
      <div class="container">
        <div class="footer-cta pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-map-marker-alt"></i>
                <div class="cta-text">
                  <h4>Encuéntranos</h4>
                  <span>1010 Avenida, sw 54321, chandigarh</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="fas fa-phone"></i>
                <div class="cta-text">
                  <h4>Llámanos</h4>
                  <span>9876543210 0</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
              <div class="single-cta">
                <i class="far fa-envelope-open"></i>
                <div class="cta-text">
                  <h4>Envíanos un correo</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-content pt-5 pb-5">
          <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-logo">
                  <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                </div>
                <div class="footer-text">
                  <p>Descubre los sabores auténticos y la calidad que solo nuestra tienda de comida puede ofrecerte. Cada bocado es una experiencia única.</p>                </div>
                <div class="footer-social-icon">
                  <span>Síguenos</span>
                  <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                  <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Enlaces Útiles</h3>
                </div>
                <ul>
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Sobre nosotros</a></li>
                  <li><a href="#">Servicios</a></li>
                  <li><a href="#">Galería</a></li>
                  <li><a href="#">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <h3>Suscríbete</h3>
                </div>
                <div class="footer-text mb-25">
                  <p>No te pierdas nuestras novedades, suscríbete llenando el formulario a continuación.</p>
                </div>
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Dirección de Correo">
                    <button><i class="fab fa-telegram-plane"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
              <div class="copyright-text">
                <p>Derechos de autor © 2018, Todos los derechos reservados <a href="https://codepen.io/anupkumar92/">Anup</a></p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Términos</a></li>
                  <li><a href="#">Privacidad</a></li>
                  <li><a href="#">Política</a></li>
                  <li><a href="#">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
  </html>

  